.LabelStyle {
    align-self: center;
    -unity-font-definition: url("project://database/Assets/Art/UI/Fonts/ChelaOne-Regular.ttf");
    font-size: 119px;
}

.increase_btn {
    background-color: rgb(233, 233, 233);
}

.increase_btn:hover {
    -unity-background-image-tint-color: rgb(253, 13, 13);
    scale: 1.1 1;
    background-color: rgb(255, 0, 0);
}
