player-connection-mode=Connect
player-connection-guid=2151219391
player-connection-debug=1
player-connection-project-name=Curragh Racer
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.121
player-connection-ip=172.25.112.1
player-connection-ip=10.30.18.19
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
single-instance=
build-guid=69950a8b384743d0bf76ebc0face9cd8
